/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --main-bg-image: url(../images/cover-image-light.png);
  --main-bg-color: #FFF1F7;
  --header-title-color: #FFC2E6;
  --text-color: #353430;
  --accent-color: #FF8DCB;
  --accent-color-hover: rgba(50, 49, 45, 0.4);
  --accent-contrast-color: #353430;
}

.theme-light .page .header__theme-menu-button {
  --accent-color: var(--text-color);
}

.theme-light .page .header__theme-menu-button:hover {
  outline: 1px solid var(--accent-color-hover);
}

.theme-light .page .decorated-zone::before {
  --accent-color: var(--text-color);
}

.theme-light .page .decorated-zone::after {
  --accent-color: var(--text-color);
}

.theme-light .page .rec__icon {
  display: none;
}

.theme-light .page .section__title {
  color: var(--text-color);
}

@media (prefers-color-scheme: light) {
  :root {
    /* Дублируем переменные светлой темы */
    --main-bg-image: url(../images/cover-image-light.png);
    --main-bg-color: #FFF1F7;
    --header-title-color: #FFC2E6;
    --text-color: #353430;
    --accent-color: #FF8DCB;
    --accent-color-hover: rgba(50, 49, 45, 0.4);
    --accent-contrast-color: #353430;
  }
  .theme-auto .page .header__theme-menu-button {
  --accent-color: var(--text-color);
  }

  .theme-auto .page .header__theme-menu-button:hover {
    outline: 1px solid var(--accent-color-hover);
  }

  .theme-auto .page .decorated-zone::before {
    --accent-color: var(--text-color);
  }

  .theme-auto .page .decorated-zone::after {
    --accent-color: var(--text-color);
  }

  .theme-auto .page .rec__icon {
    display: none;
  }

  .theme-auto .page .section__title {
    color: var(--text-color);
  }
}
