/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --main-bg-image: url(../images/cover-image-dark.png);
  --second-bg-image: url(../images/cover-image.png);
  --main-bg-color: #000028;
  --header-title-color: #DB00FF;
  --header-title-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  --text-color: #F1B2CE;
  --accent-color: #FF0070;
  --accent-contrast-color: #000028;
  --font-family: 'IBM Plex mono';
  --font-weight-m: 400;
  --font-weight-l: 700;
  --main-font-size: 18px;
  --main-line-hight: 23.4px;
}

@media (width >= 768px) {
  .big-title-decor {
    --header-title-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}